[submodule "NodeJS"]
    path = NodeJS
    url = https://github.com/giakhiem03/BookingCare-Website.git

[submodule "React.JS"]
    path = React.JS
    url = https://github.com/giakhiem03/BookingCare-Website.git